.mobile-menu{
  background-color: #002362;
  padding: 2rem;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999 !important;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateX(-100vw);
}
.mobile-menu-container{
  width: 60vw;
  height: 100vh;
  padding: 2rem;
}
.mobile-menu.active{
  opacity: 1;
  transform: translateX(0);
}
.mobile-menu img{
  margin-bottom: 3rem;
}
.mobile-menu ul{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
  margin-left: -2rem;
}
@media (max-width: 768px) {
   .mobile-menu{
    display: block;
   }
} 