.logo-content{
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  align-content: center;
  margin: 1rem 1rem;
}
.logo{
  width: 14rem;
  height: 13rem;
  border-radius: 50%;
  border: rgb(229, 229, 214) solid 1px;
}
.quotes{
padding-left: 3rem;
}
.heading-qh {
  font-size: 2.1rem;
  text-decoration: underline;
  color: blue;
  font-weight: 700;
}
.para-qh{
  font-size: 1.1rem;
  color: black;
  font-weight: 500;
}

@media (max-width: 768px) {
  .logo-content{
    display: flex;
  }
} 
@media (max-width: 768px) {
  .para-qh{
    font-size: 1rem;
    color: black;
    font-weight: 450;
  }
} 

@media (max-width: 768px) {
  .heading-qh {
    font-size: 1.9rem;
    text-decoration: underline;
    color: blue;
    font-weight: 650;
  }
} 
@media (max-width: 768px) {
  .logo{
    width: 12rem;
    height: 11rem;
    border-radius: 50%;
    border: rgb(229, 229, 214) solid 1px;
  }
} 


@media (max-width: 425px) {
  .logo-content{
    display: flex;
    flex-direction: column;
  }
} 
@media (max-width: 425px) {
  .para-qh{
    font-size: 0.8rem;
    color: black;
    font-weight: 400;
  }
} 

@media (max-width: 425px) {
  .heading-qh {
    font-size: 1.7rem;
    text-decoration: underline;
    color: blue;
    font-weight: 600;
  }
} 
@media (max-width: 425px) {
  .logo{
    width: 10rem;
    height: 9rem;
    border-radius: 50%;
    border: rgb(229, 229, 214) solid 1px;
  }
} 
