.nav-wrapper{
  background-color: #8BC34A;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 30;
  backdrop-filter: blur(50px);
}
.nav-content{
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  margin: 0 auto;
}
.nav-content ul{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;

}
.nav-content li{
  margin: 0 1.5rem;
}
.menu-item{
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.menu-item::before{
  content: " ";
  width: 2rem;
  height: 0.2rem;
  border-radius: 0.5rem;
  position: absolute;
  bottom: -0.6rem;
  opacity: 0;
  transform: translateX(-1.5rem);
  transition: all 0.3s ease;

}
.menu-item:hover::before {
  width: 100%;
  transform: translateX(0);
  opacity: 1;
}
.contact-btn{
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0140b4;
  background: white;
  width: 70%;
  font-size: 1.3rem;
  outline: 1.5px solid transparent;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease;

}
.contact-btn:hover{
  color: black;
  border: white;
  background: white;
}
 .menu-btn {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.4rem;
  color: black;
  background: white;
  line-height: 0;
  cursor: pointer;
  transform: all 0.4s ease;
  row-gap: 0.2rem;
  display: none;
}
.menu-btn:hover{
  color: black;
  border: white;
  background: white;
}
@media (max-width: 768px) {
  .menu-btn{
    display: block;
  }
  .nav-content ul{
    display: none;
  }
}

@media (max-width: 1325px) {
  .nav-wrapper{
    padding: 0 2rem;
  }
} 